@import "imports/reset.css";
@import "imports/colors.css";
@import "imports/fonts.css";

* {
    box-sizing: border-box;
}

.header{
    background-color: var(--dark-teal);
    text-align: center;
}

.header * {
    margin: auto;
}
