@import "imports/reset.css";
@import "imports/colors.css";
@import "imports/fonts.css";

/* MAIN CSS FILE */

* {
    box-sizing: border-box;
}

.header{
    background-color: var(--dark-teal);
    text-align: center;
}

.header * {
    margin: auto;
}

.proj-img{
    border-radius: 100px;
}

.proj-elem{
	display: flex;
	justify-content: flex-start;
}