@import "imports/reset.css";
@import "imports/colors.css";
@import "imports/fonts.css";

/* MAIN CSS FILE */

* {
    box-sizing: border-box;
}

.header{
    background-color: var(--dark-gray);
    text-align: center;
    font-family: var(--ff-mono);
    padding: .75em;
}

.header * {
    margin: auto;
    padding: 5px 0px;
}

.proj-img{
    border-radius: 100px;
}

.proj-elem{
	display: flex;
    justify-content: center;
}

.proj-title {
    
}

.section{
    font-family: var(--ff-quicksand);
    padding: .75em;
}

.section-title{
    font-size: 2em;
    color: var(--navy);
    font-weight: bold;
    line-height: 2em;
}