    /* http://frame.bloglovin.com/?post=5268129621&blog=13978127 */

:root {
    --salmon: #FE9E83;
    --dark-pink: #F4646A;
    --light-pink: #FCBABA;
    --dark-purple: #685380;
    --light-purple: #cbc1d7;
    --dark-teal: #6CB1B1;
    --light-teal: #8ECECB;

    --light-gray: #CACACA;
    --dark-gray: #494949;

    --dark-green: #213502;
    --green: #9cc411;
    --light-green: #d4f26c;
    --yellow-green: #dcda65;
    --sky: #53c0cc;
    --light-sky: #bde7eb;
    --navy: #375C6F;
    --light-navy: #5187a3;

    --blue: #5d9cdf;
    --light-blue: #8ebae9;
    --yellow: #dbd709;
}