:root {
    --ff-quicksand: 'Quicksand', sans-serif;
    --ff-mono: 'Droid Sans Mono', monospace;
}

.fcolor-green{
    color: var(--green);
}

.fcolor-blue{
    color: var(--blue);
}

.fcolor-yellow{
    color: var(--yellow)
}

.fcolor-white{
    color: white;
}