/* email link */

.header-link:link {
    color: var(--blue);
}

.header-link:visited {
    color: var(--light-blue);
}

.header-link:focus {
    color: var(--sky);
}

.header-link:active {
    text-decoration: underline;
}

/* about links */

.link-bar .content-link {
    text-decoration: underline;
}

.proj-text .content-link {
    text-decoration: underline;
}

.content-link:link {
    color: var(--dark-teal);
}

.content-link:visited {
    color: var(--light-teal)
}

.content-link:focus {
    color: var(--sky);
}

.content-link:active {
    text-decoration: underline;
}