.navbar {
    width: 100%;
    background-color: var(--light-gray);
    margin-top: 1em;
}

.navbar-ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0px;
}

.navbar-ul .navbar-item {
    padding: 1em .2em;
}

@media (max-height: 680px){
    .navbar-ul .navbar-item {
        width: 50%;
        padding: 1em .2em;
    }
}